# Generate a random string, or roll your face on the keyboard to fill this value:
SESSION_SECRET=

# Get this on the Pi Developer Portal (develop.pi in the Pi Browser)
PI_API_KEY=https://digitalmoney.com/fb7867d59b73b0dd0bc32e52e891a95671203b5e0ae5ef1ad2114b3c4111efbf649d10dff6dcd7046cc6604132c844661fd98178f22b16418546690c738895d2.txt

# Platform API 
PLATFORM_API_URL=https://api.minepi.com

# MongoDB database connection details:
MONGO_HOST=localhost:27017
MONGODB_DATABASE_NAME=demoapp-development
MONGODB_USERNAME=demoapp
MONGODB_PASSWORD=dev_password

# Frontend app URL
FRONTEND_URL=http://localhost:3314
